@import "variables/colors";

#message-form {
  position: absolute;
  left: 0; right: 0; bottom: 0;

  @media all and (max-width: 800px) {
    & { width: 248px; }
  }
  
  > span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 70px);
    padding: 11px 15px;

    font-size: 16px;
    color: white;
    border-radius: 3px;
    background-color: $blue-grey-2;
  }
  
  > .placeholder {
    position: absolute;
    top: -51px;
    left: 36px;

    font-size: 16px;
    color: grey;
    pointer-events: none;
  }

  > #replying {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 69px);
  padding: 9px 15px;
  
  position: absolute;
  left: 20px;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $dark-grey-3;

  & + span {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  > p {
    color: $light-grey-3;
    font-size: 13px;
    letter-spacing: 0.2px;

    > span { font-weight: 900; }
  }

  > div {
    height: 16px;
    width: 16px;
    
    background-color: $light-grey-3;
    border-radius: 50%;

    cursor: pointer;
    transition: background-color 0.1s;
    &:hover { background-color: $light-grey-2; }

    > img {
      height: 8px;
      width: 8px;
      margin: 4px;
      filter: brightness(0.2);
    }
  }
}
}