@import "variables/colors";
@import "variables/fonts";

#messages-index {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 5px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &::-webkit-scrollbar { width: 8px; }
      
  &::-webkit-scrollbar-thumb {
    background-color: $dark-grey-4;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $dark-grey-1;
    border-radius: 8px;
  }

  @media all and (max-width: 800px) {
    & {
      width: 243px;
    }
  }

  > #welcome-message {
    margin: 25px 20px 0px;

    > img {
      height: 75px;
      width: 75px;
      background-color: $grey-1;
      border-radius: 50%;
    }

    > div {
      height: 35px;
      width: 35px;
      padding: 15px;
      background-color: $grey-1;
      border-radius: 50%;
      
      > img {
        height: 35px;
        width: 35px;

        font-family: $sans;
        font-size: 80px;
        color: white;
        text-align: center;
        line-height: 100px;

        overflow: visible;
      }
    }

    > h2 {
      margin-top: 13px;
      font-family: $lato;
      font-size: 30px;
      color: $light-grey-0;
      font-weight: 900;
      letter-spacing: 0.2px;
    }

    > p {
      margin-top: 5px;
      font-family: $sans;
      font-size: 14px;
      color: $light-grey-2;
      letter-spacing: 0.3px;
    }
  }

  > div:not(#reactions) {
    position: relative;

    > .date-break {
      margin: 32px 16px 0px;
      border: none;
      border-top: 1px solid $grey-1;

      + p {
        position: absolute;
        top: 27px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0px 5px;

        color: $light-grey-4;
        font-size: 12px;
        background-color: $grey-4;
        line-height: 10px;
        letter-spacing: 0.1px;

        + .message { margin-top: 16px;}
      }
    }
  }

  &.reacting .message:hover:not(.editing) {
    background-color: transparent;
    &:not(.reacting) {
      > .time-stamp { display: none; }
      > .message-settings:not(.reacting) { display: none; }
    }
  }
}
.message {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 22px;
  margin-top: 10px;
  margin-right: 5px;

  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  &.followup-message {
    margin-top: 0px;
    > p:not(.time-stamp) { padding-left: 52px; }
  }

  &:hover:not(.editing) {
    background-color: $dark-grey-0;
    > .time-stamp { display: block; }
    > .message-settings { display: flex; }
  }

  &.reacting > .message-settings {
    display: flex;
    box-shadow: -1px 3px 2px $dark-grey-2;

    > div:first-child {
      background-color: $grey-1;
      transition: background-color 0.2s;

      > img {
        filter: brightness(0) invert(1);
        + .bubble { display: none; }
      }
    }
  }

  > .replied-message {
    display: flex;
    align-items: center;
    width: 100%;

    margin-left: 19px;
    margin-bottom: 5px;
    color: $light-grey-1;
    
    > img:first-of-type {
      height: 30px;
      width: 30px;
      margin-bottom: -11px;
    }

    > img:last-of-type {
      height: 15px;
      width: 15px;
      margin-left: 3px;
      border-radius: 50%;
      background-color: $grey-0;
    }
    
    > p { font-size: 13px; }
    > p:first-of-type {
      margin-left: 3px;
    }

    > p:last-child {
      margin-left: 4px;
    }
  }

  > .profile-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $grey-0;
  }

  > div:not(.profile-photo):not(.message-settings):not(.replied-message) {
    width: calc(100% - 52px);
    margin-left: 12px;
    
    > .sender-info {
      display: flex;
      margin-top: 2px;
      overflow: hidden;
      white-space: nowrap;
      > { line-height: 16px; }
  
      > .username {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
      }
  
      > .date-stamp {
        margin-left: 8px;
        font-size: 12px;
        color: $light-grey-4;
        line-height: 20px;
      }
    }
  }

  .message-body {
    top: 20px;
    width: 100%;

    font-family: $sans;
    font-size: 14px;
    -webkit-user-select: text; // Safari
    -moz-user-select: text; // Firefox
    -ms-user-select: text; // IE10+/Edge
    user-select: text; // Standard

    min-width: 135px;
    overflow-wrap: break-word;
    height: auto;

    > span {
      margin-left: 4px;
      font-size: 10px;
      color: $light-grey-4;
    }
  }

  > .time-stamp {
    display: none;
    position: absolute;
    font-size: 11px;
    top: 10px;
    left: 22px;
    color: $light-grey-3;
  }

  &.blank {
    .username {
      height: 20px;
      background-color: $grey-0; 
      border-radius: 10px;
    }

    .message-body {
      margin-top: 3px;
      height: 17px;
      background-color: $grey-1;
      border-radius: 10px;
    }
  }

  > .message-reactions {
    display: flex;
    flex-wrap: wrap;

    margin-top: 5px;
    margin-left: 52px;

    > li {
      display: flex;
      align-items: center;

      &:not(:first-child) { margin-left: 5px; }
      height: 17px;
      padding: 4px;
      border: 1px solid $dark-grey-3;
      border-radius: 5px;

      &.reacted {
        border-color: $light-blue-2;
        background-color: $blue-grey-2;
      }
      
      > img {
        height: 17px;
        width: 17px;
      }

      > p {
        margin-left: 5px;
        margin-right: 3px;
        color: $light-grey-1;
        font-size: 15px;
      }

      cursor: pointer;
    }

    > img {
      display: none;
      margin-left: 1px;
      height: 13px;
      width: 13px;
      padding: 7px;

      cursor: pointer;
      &:hover { filter: brightness(1.5); }
    }

    &:hover {
      > img { display: block; }
    }
  }
}