@import "variables/colors";
@import "variables/fonts";
@import "variables/keyframes";

#channels-index {
  color: $light-grey-4;

  #server-header {
    position: relative;
    background-color: $dark-grey-2;
    z-index: 99;

    h1 {
      height: 21.5px;
      padding: 15px 39px 15px 16px;
      color: white;
      font-family: $mukta;
      font-size: 18px;
      font-weight: 400;
      border-bottom: 1px solid $dark-grey-4;
    }

    img {
      height: 10px;
      width: 10px;
      position: absolute;
      top: 21px;
      right: 21px;
      transition: all 0.2s;

      &:last-of-type {
        opacity: 0;
        transform: rotate(180deg);
      }
    }

    &:hover { cursor: pointer; }

    &.selected {
      img:first-of-type {
        opacity: 0;
        transform: rotate(-180deg);
      }
      img:last-of-type {
        opacity: 1;
        transform: rotate(0deg);
      }
    }
  }

  #channels-index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s;

    div {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      margin-top: 10px;
      padding: 5px 0px;
      order: 1;

      img {
        height: 6px;
        width: 6px;
        padding: 5px;
        transform: rotate(-90deg);
        transition: transform 0.1s;
      }

      &.selected img { transform: rotate(0deg); }

      h2 {
        font-size: 13px;
        line-height: 16px;
        font-weight: 600;
      }

      &:hover {
        cursor: pointer;
        h2 { color: $light-grey-2; }
        img { filter: brightness(2) }
      }
    }

    p {
      margin-top: 10px; 
      margin-right: 5px;
      padding: 5px;
      font-size: 14px;
      line-height: 16px;
      order: 2;

      &:hover:not(.locked-by-preview), &:hover:not(.locked-by-preview) + div {
        cursor: pointer;
        color: $light-grey-2;
      }

      &.locked-by-preview { cursor: not-allowed; }
    }
  }

  #channels-list {
    padding: 0px 6px;

    a {
      padding: 10px;

      font-size: 16px;
      line-height: 20px;
      border-radius: 5px;
      transition: all 0.1s;

      &:hover {
        color: $light-grey-2;
        background-color: $dark-grey-1;
      }

      &.selected {
        color: white;
        background-color: $grey-4;
      }

      span {
        margin-right: 8px;
        font-family: $montserrat;
        font-style: italic;
        font-size: 18px;
        color: $light-grey-4;
      }

      &:hover > span, &.selected > span { color: $light-grey-4; }
    }
  }
}

#server-header-modal {
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 51;

  box-sizing: border-box;
  width: 220px;

  padding: 8px;
  border-radius: 4px;
  background-color: $black;
  animation: drop-down 0.2s;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 5px;
    font-size: 14px;
    color: $light-grey-2;
    border-radius: 3px;
    &:first-of-type { color: $light-blue-1; }
    &:last-of-type { color: $red; }

    > img {
      margin-right: 3px;
      height: 13px;
      width: 13px;
    }

    &:hover {
      cursor: pointer;
      color: white;
      background-color: $light-blue-2;
      > img { filter: brightness(0) invert(1); }

      &:last-of-type { background-color: $red; }
    }
  }
}

#channel {
  position: absolute;
  background-color: $grey-4;
  top: 53px; left: 240px; right: 240px; bottom: 0;
}

#dm-messages {
  position: absolute;
  background-color: $grey-4;
  top: 53px; right: 0; bottom: 0;
  left: 240px;
  min-width: 248px;

  &.gc {
    right: 240px;

    @media all and (max-width: 819px) {
      .invitation > .content {
        flex-direction: column;
        align-items: flex-start;
        > p { margin: 4px 0px; }
        > button { margin: 0px; }
      }
    }
  }
  
  &:not(.gc) {
    @media all and (max-width: 800px) {
      & {
        width: 488px;
        > #message-form { width: 488px}
        > #messages-index { width: 483px; }
      }
    }
  }
}