@import "variables/colors";
@import "variables/keyframes";

#server-index {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  height: 100%;
  width: 72px;
  background-color: $darker-blue-grey;
  
  > * { margin-top: 10px; }

  * {
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    color: white;
    transition: all 0.3s;
    background-color: $dark-grey;
    border-radius: 50%;

    &:hover, &.selected, &.selected > img {
      cursor: pointer;
      border-radius: 30%;
      background-color: $blue;
    }
  }
  p {
    background-color: $dark-grey;
    color: $green;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 48px;

    &:hover,  &.selected
    {
      color: white;
      border-radius: 30%;
      background-color: $green;
    }
  }

  > a:last-child {
    img {
      height: 20px;
      width: 20px;
      padding: 14px;
      background-color: transparent;
    }

    &:hover, &.selected {
      background-color: $green;
      border-radius: 30%;
    }

    img:hover, &.selected > img { filter: brightness(0) invert(1); }
  }
}