@import "variables/colors";
@import "variables/fonts";

#server {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
}

#messages {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  left: 312px;
  // min-width: 688px;
  background-color: $grey-3;
}