@import "variables/colors";
@import "variables/fonts";

#server {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  left: 72px;
  min-width: 728px;
}

#channel-header {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0; right: 0;
  left: 240px;
  height: 20px;
  padding: 16px;
  min-width: 456px;

  > h3 {
    font-family: $sans;
    font-size: 15px;
    color: white;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  
  background-color: $grey-4;
  border-bottom: 1px solid $dark-grey-4;

  > img {
    margin-right: 5px;
    filter: brightness(0.5);
    height: 20px;
    width: 20px;
  }
}

#leave-server-modal > .settings-modal > .form-nav > button:disabled {
  cursor: not-allowed;
  background-color: $dark-red;
  opacity: 0.7;
}