@import "variables/colors";
@import "variables/fonts";

#genre-list {
  left: 72px;
  padding: 0px 10px;

  h1 {
    color: white;
    font-size: 22px;
    font-weight: 800;;
    margin: 20px 0px;
  }

  li {
    display: flex;
    padding: 5px 8px;
    margin-bottom: 2px;
    transition: background-color 0.05s;

    img {
      width: 24px;
      height: 24px;
      padding: 4px 15px 4px 4px;

    }
    &:first-of-type img { filter: grayscale(1) brightness(1.5); }

    color: $light-grey-2;
    font-size: 16px;
    line-height: 32px;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      color: $light-grey-1;
      background-color: $grey-4;
      
      img { filter: brightness(1.5) }
      &:first-of-type img { filter: grayscale(1) brightness(3); }
    }
  }

  .selected {
    background-color: $light-blue-2;
    &, &:first-of-type { color: white; }
    &:first-of-type img, img { filter: brightness(0) invert(1) }
    &:hover { background-color: $light-blue-2; }
  }
}

#servers-explore {
  box-sizing: border-box;
  position: absolute;
  top: 0; right: 0; bottom: 0;
  left: 312px;
  min-width: 688px;

  background-color: $grey-4;
  border-right: 3px solid $grey-4;

  overflow-y: scroll;
  &::-webkit-scrollbar { width: 8px; }
    
  &::-webkit-scrollbar-thumb {
    background-color: $dark-grey-4;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $dark-grey-1;
    border-radius: 4px;
  }

  > img:first-child {
    padding: 32px 16px 32px 29px;
    box-sizing: border-box;
    width: 100%;
  }

  h1, h2, input {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: $lato;
    color: white;
    text-align: center;
  }

  h1 {
    top: max(92px, calc(100vw * 0.09) + 2px);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.2px;
  }

  h2 {
    top: max(130px, calc((100vw * 0.09) + 40px));
    font-size: 15px;
    font-weight: 400;
  }

  > input {
    top: max(164px, calc((100vw * 0.09) + 74px));
    width: 45%;
    padding: 10px 40px 10px 12px;

    font-size: 15px;
    color: black;
    text-align: left;
    letter-spacing: 0.2px;
    background-color: white;
    border: 1px solid $dark-grey-2;
    border-radius: 3px;
    box-shadow: 0px 1px 2px $light-grey-4;

    &:focus { outline: 2px solid $purple; }

    + img {
      height: 20px;
      width: 20px;

      position: absolute;
      top: max(174px, calc((100vw * 0.09) + 84px));
      right: calc(27.5% - 16px);
      filter: brightness(0.6);
    }
  }

  #public-servers {
    display: flex;
    flex-wrap: wrap;
    padding-left: 29px;
    
    position: absolute;
    top: calc((100vw - 200px) * 200/641);
    left: 0; right: 0;

    @media all and (max-width: 1000px) { & { top: 249.61px }}

    > h3 {
      width: 100%;
      margin-top: 14px;
      margin-bottom: 16px;

      font-family: $montserrat;
      font-size: 18px;
      color: white;
      font-weight: 700;
    }

    > li {
      box-sizing: border-box;
      width: calc(50% - 16px);
      margin-right: 16px;
      margin-bottom: 16px;
      padding-bottom: 16px;
      position: relative;
      border-radius: 5px;

      color: white;
      background-color: $dark-grey-3;
      transition: all 0.2s;

      .server-banner {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        
        img {
          height: 150px;
          width: 100%;
          object-fit: cover;
          transition: transform 0.2s;
        }
      }

      .server-icon {
        position: absolute;
        height: 40px;
        width: 40px;
        top: 128px;
        left: 18px;
        
        margin: 0;
        color: white;
        font-size: 13px;
        line-height: 40px;
        text-align: center;

        border: 2px solid $dark-grey-3;
        border-radius: 30%;
        background-color: $dark-grey-3;
      }

      h3 {
        margin: 30px 0px 10px 0px;
        font-family: $lato;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.2px;
      }

      h3, p {
        margin-left: 18px;
        margin-right: 18px;
      }

      #server-description {
        height: 75px;
        font-size: 13px;
        font-weight: 400;
        color: $light-grey-2;
        inline-size: max(calc((100vw - 445px) / 2), 280px);

        overflow-y: scroll;
        overflow-wrap: break-word;

        &::-webkit-scrollbar { width: 4px; }
        
        &::-webkit-scrollbar-thumb {
          background-color: $dark-grey-2;
          border-radius: 2px;
        }
      }

      @media all and (min-width: 1100px) {
        & {
          width: calc((1/3 * 100%) - 16px);
          #server-description { inline-size: calc((100vw - 493px) / 3); }
        }
      }

      @media all and (min-width: 1400px) {
        & {
          width: calc((1/4 * 100%) - 16px);
          #server-description { inline-size: calc((100vw - 541px) / 4); }
        }
      }

      &:hover {
        cursor: pointer;
        background-color: $dark-grey-4;
        .server-banner img { transform: scale(1.02) }
        .server-icon {
          background-color: $dark-grey-4;
          border-color: $dark-grey-4;
        }
        box-shadow: 0px 2px 7px $dark-grey-3;
      }
    }
  }
}

#no-servers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px auto 0px;

  > p {
    margin-top: 20px;
    color: $light-grey-2;
    font-size: 15px;
    letter-spacing: 0.2px;
  }
}