$light-grey-0: #F6F6F7;
$light-grey-1: #EBEBEC;
$light-grey-2: #B9BBBE;
$light-grey-3: #90949b;
$grey-0:       #72767d;
$grey-1:       #65656e;
$grey-2:       #58585f;
$grey-3:       #393C43;
$grey-4:       #36393F;
$dark-grey-0:  #32353A;
$dark-grey-1:  #303339;
$dark-grey-2:  #2F3136;
$dark-grey-3:  #292B2F;
$dark-grey-4:  #222428;
$black:        #18191C;


$blue-grey-0: #747F8D;
$blue-grey-1: #4f5660;
$blue-grey-2: #40444B;
$blue-grey-3: #2E3136;
$blue-grey-4: #202225;

$light-blue-0: #00aff4;
$light-blue-1: #929AF4;
$light-blue-2: #6064f4;
$blue-0:       #5865F2;
$blue-1:       #404EED;
$blue-2:       #4752c4;

$light-red: #fc2d31;
$red:      #ED4245;
$dark-red: #c83434;

$green: #3BA55D;
$dark-green: #307c44;