$lightest-grey: #F6F6F7;
$lighter-grey: #EBEBEC;
$light-grey: #B9BBBE;
$grey: #72767d;
$darkish-grey: #393C43;
$dark-grey: #36393F;
$darkish-grey: #303339;
$darker-grey: #292B2F;
$darkest-grey: #222428;
$black: #18191C;

$light-blue-grey: #747F8D;
$blue-grey: #4f5660;
$dark-blue-grey: #2E3136;
$darker-blue-grey: #202225;

$lightest-blue: #00aff4;
$lighter-blue: #929AF4;
$light-blue: #5865F2;
$sky-blue: #404EED;
$blue: #6064f4;
$dark-blue: #4752c4;

$red: #ED4245;

$green: #3BA55D;