$light-grey: #B9BBBE;
$grey: #72767d;
$dark-grey: #36393F;
$darkest-grey: #0000001A;
$black: #222428;

$lightest-blue: #00aff4;
$light-blue: #5865F2;
$sky-blue: #404EED;
$blue: #6064f4;
$dark-blue: #4752c4;