@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mount-form {
  0% {
    transform: translate(-50%, -60%);
    opacity: 0;
    width: 500px;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 480px;
  }
}

@keyframes open-element {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes close-element {
  0% { opacity: 1; }
  100% { opacity: 0; }
}