html, body, div, h1, h2, h3, p, a, img, ul, li, form, label, input, select, button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 10px;
  color: black;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-decoration: none;
  line-height: 1.25;
  background: transparent;
}

ul {
  list-style: none;
}

:focus {
  outline: 0;
}