html, body, div, h1, h2, p, a, img, form, label, input, select, button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 10px;
  color: black;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  background: transparent;
  line-height: 1.25;
}

ul {
  list-style: none;
}