@import "variables/colors";

#server-index {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  height: 100%;
  width: 72px;
  background-color: $darker-grey;

  -webkit-user-select: none; // Safari
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // IE10+/Edge
  user-select: none; // Standard

  > * { margin-top: 10px; }

  * {
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: $dark-grey;
    font-size: 13px;
    color: white;
    border-radius: 50%;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      border-radius: 30%;
      background-color: $blue;
    }
  }

  p {
    background-color: $dark-grey;
    color: $green;
    font-size: 24px;
    text-align: center;
    line-height: 48px;

    &:hover {
      background-color: $green;
      color: white;
    }
  }
}