@import "variables/colors";
@import "variables/fonts";
@import "variables/keyframes";

#profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 72px;
  bottom: 0px;

  box-sizing: border-box;
  height: 53px;
  width: 240px;
  padding: 0px 18px 0px 10px;
  background-color: $dark-grey-3;

  display: flex;
  align-items: center;

  > #profile-name:hover { cursor: pointer; }

  > #profile-name > p {
    position: absolute;
    left: 50px;

    &:first-of-type {
      width: 142px;
      top: 12px;
      font-size: 14px;
      color: white;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:last-child {
      top: 30px;
      font-size: 12px;
      color: $light-grey-2;
    }
  }

  #profile-name-copied, #user-settings-bubble { z-index: 100; }

  > #profile-name-copied {
    display: none;
    position: absolute;

    > p {
      position: absolute;
      top: -50px;
      left: 32px;
      padding: 6px 9px;

      font-size: 12px;
      color: white;
      background-color: $green;
      border-radius: 3px;
      box-shadow: 0 2px 5px $black;
      animation: fade-in 0.1s;

    }
    
    > .arrow-down {
      position: absolute;
      top: -23px;
      left: 52.5px;
      
      border-top: 5px solid $green;
      animation: fade-in 0.1s;
    }

    &.copied { display: block; }
  }

  > #user-settings-bubble {
    position: relative;
    > #cog {
      box-sizing: border-box;
      height: 32px;
      width: 32px;
      padding: 7px;
      border-radius: 3px;
      transition: background-color 0.2s;

      &:hover {
        cursor: pointer;
        background-color: $grey-4;

        + .bubble { display: flex; }
      }
    }
  }
}

.profile-photo {
  height: 32px;
  width: 32px;
  background-color: $light-grey-3;
  border-radius: 50%;
}