@import "variables/fonts";
@import "variables/colors";
@import "variables/keyframes";

.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.user-form {
  animation: mount-form 0.3s;
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  padding: 32px;
  width: 480px;
  border-radius: 5px;
  background-color: $grey-4;

  * {
    color: $light-grey-2;
  }

  h1 {
    margin-bottom: 8px;
    font-family: $lato;
    font-size: 24px;
    font-weight: 900;
    color: white;
    letter-spacing: 0.5px;
  }

  h2 {
    font-size: 16px;
    font-weight: 200;
  }

  label {
    display: block;
    width: auto;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 12px;
    color: $light-grey-2;
    font-weight: 600;
    letter-spacing: 0.7px;
  }

  input {
    box-sizing: border-box;
    width: 100%;
  }

  input, select {
    padding: 10px;
    background-color: $grey-3;
    font-size: 16px;
    border: 1px solid $dark-grey-4;
    border-radius: 3px;
    transition: border-color 0.17s;
  }

  #date-of-birth {
    display: flex;
    justify-content: space-between;

    :first-child {
      width: 200px;
    }

    :nth-child(2) {
      width: 100px;
    }

    :last-child {
      width: 150px;
    }
  }

  input:hover, select:hover {
    border-color: black;
  }

  button {
    height: 44px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 2px 16px;
    background-color: $light-blue-2;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    transition: background-color 0.17s;
  }

  button:hover {
    cursor: pointer;
    background-color: $blue-2;
  }

  p {
    display: inline;
    color: $light-grey-4;
    font-size: 14px;
    margin-right: 3px;
  }

  a {
    color: $light-blue-0;
    font-size: 14px;
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  span {
    color: $red;
    font-style: italic; 
  }

  .hasError {
    color: $red;
  }

  .hasError + input {
    border-color: $red;
  }

  .hasError + div > select {
    border-color: $red;
    color: $red;
  }
}

#demo-user {
  height: 58px;
  width: 150px;
  position: absolute;
  top: 32px;
  right: 32px;
  margin: 0px;
  border: 1px solid $dark-grey-3;
  background-color: $grey-1;
}

#demo-user:hover {
  background-color: $grey-0;
}